<%- include("./partials/header.ejs") -%>
 
<body>
    <% //users.forEach((user)=>{ %>
        <h1>Welcome to Twiter <%=// user.username %> </h1>
    <% //}) %> 

    <a href="/">back</a>
    
</body>
</html>