<%- include("./partials/header.ejs") -%>
 

    <% //users.forEach((user)=>{ %>
        <h1>Welcome to Twiter <%=// user.username %> </h1>
    <% //}) %> 

    <a href="/">back</a>
    

<%- include("./partials/footer.ejs") -%>