<%- include("./partials/header.ejs") -%> 


        <div class="index-container">
            <div class="left">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRp0735BryjL9bxXC1by1QOmsAves6wpir4hswCHjHuldHPyvZv" alt="img">
            </div>
            <div class="right">
                <i class="fa-brands fa-twitter"></i>
                <h3>Happening now</h3>
                <h5>Join Twitter today</h5>
                <a href="">Sign up</a>
                <a href="">Log in</a>
            </div>
        </div>
        <footer>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
            </ul>
            <ul>
                <li><a href="">Twitter for Business</a></li>
                <li><a href="">Developers</a></li>
                <li><a href="">Directory</a></li>
                <li><a href="">Settings</a></li>
                <li>&copy;2022 twitter.inc</li>
            </ul>
        </footer>
        


<%- include("./partials/footer.ejs") -%>