<%- include("./partials/header.ejs") -%> 


        <div class="index-container">
            <div class="left">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRp0735BryjL9bxXC1by1QOmsAves6wpir4hswCHjHuldHPyvZv" alt="img">
            </div>
            <div class="right">
                <i class="fa-brands fa-twitter"></i>
                <h3>Happening now</h3>
                <h5>Join Twitter today</h5>
                <div class="links">
                    <a class="sign" href="/twitter/register">Sign up</a>
                    <a class="log" href="/twitter/login">Log in</a>
                </div>
            </div>
        </div>
        <footer class="index-footer">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Help center</a></li>
                <li><a href="">Terms of Services</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Cookie Policy</a></li>
                <li><a href="">Ads Info</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Status</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Brand Resources</a></li>
                <li><a href="">Advertising</a></li>
                <li><a href="">Marketing</a></li>
            </ul>
            <ul>
                <li><a href="">Twitter for Business</a></li>
                <li><a href="">Developers</a></li>
                <li><a href="">Directory</a></li>
                <li><a href="">Settings</a></li>
                <li>&copy;2022 twitter.inc</li>
            </ul>
        </footer>
        


<%- include("./partials/footer.ejs") -%>