<%- include("./partials/header.ejs") -%> 

<body>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Username" required>
        <input type="email" name="email" placeholder="enter your email address" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="done">
    </form>
    <h4>already have an account? <a href="/login">Login</a></h4>
</body>
</html>